.message_body {
  background-color: white;
  margin: 8px;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  width: 50%;
  /* overflow-wrap: break-word; */
  word-break: break-word;
  z-index: -10;
  overflow-x: hidden;
}
.message_body_sender {
  background-color: white;
  margin: 8px;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  width: 50%;
  margin-left: 50%;
  /* overflow-wrap: break-word; */
  word-break: break-word;
  z-index: -10;
  overflow-x: hidden;
}

.message_details {
  font-size: 10px;
  z-index: 2;
  padding-top: 5px;
  padding-bottom: 8px;
}

.message {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background-color: rgb(254, 254, 160);
  /* text-overflow: wrap; */
  padding: 15px;
  overflow-wrap: break-word;
  word-break: break-word;
  width: 100%;
  margin-left: 0%;
  z-index: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 10px;
  padding-right: 10px;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 30%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-left: 5%;
  width: 90%;
}
.message_bold {
  font-weight: bold;
}
