.chat_container {
    box-sizing: border-box;
    border: 1px solid black;
    border-left: none;
    background-color: #e1e9ff;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.chat_heading {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font: 300 1.4rem 'Roboto';
    font-weight: bold;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.589);
    background-color: rgb(224, 13, 13);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.chat_body_chat_instructions{
    display: flex;
    font-size:14px;
    align-items: center;
}

.chat_body {
    height: 85%;
    overflow:scroll;
}

.chat_typing {
    /* background-color: blue; */
    height: 8%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 4px;
    margin-left: 3px;

}

.type_input {
    width: 100%;
    height: 100%;
    align-self: center;
    align-items: center;
    border-radius: 20px;
    border: 0.1px solid black;
    padding-left: 15px;
}

.send_btn {
    border: none;
    background-color: rgb(106, 192, 239);
    margin:2px;
    border-radius:5px;
}

.image {
    align-self: center;
    align-items: center;
}
