.row{
    display: flex;
    flex-direction: row;
    margin-top:10px;
    align-items: center;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;

}

.username{
    display: flex;
    justify-content: center;
    align-self: center;
    
    font: 500 1.5rem 'Roboto';
    color: white;
    background-color:#2605417d;
    border-radius: 5px;
    padding: 0.5rem;
}

.header {
    display: flex;
    justify-content: center;
    align-self: center;
    
    font: 500 3rem 'Roboto';
    color: white;
    background-color:#06000052;
    border-radius: 5px;
    padding: 0.5rem;
}



.button{
    color: white;
    background-color:rgb(242, 83, 4);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    
    
    height: 50px;
    border-radius: 10px;
    border:none;
    box-shadow:  2px 5px  rgba(62, 2, 2, 0.5);
}

.button::hover{background-color: black;}

.Button {
    background-color: black;
  }

@media screen and (max-width:900px) {
    .header{
        display: none;
    }    
}