@keyframes txtLoading {
  0% {
    letter-spacing: 0.2em;
    transform: translateY(5px);
    text-shadow: none;
  }

  100% {
    letter-spacing: 0em;
    transform: translateY(-5px);
  }
}

@keyframes logoLoading {
  0% {
    transform: translateY(20px);
    filter: drop-shadow(5rem 0rem 0 rgb(255, 255, 255))
      drop-shadow(-5rem 0rem 0 rgb(255, 255, 255))
      drop-shadow(0rem -5rem 0 rgb(255, 255, 255))
      drop-shadow(0rem 5rem 0 rgb(255, 255, 255));
    opacity: 1;
  }

  100% {
    transform: translateY(-0px);
    filter: drop-shadow(0px 0px 0px #dc0b07) drop-shadow(0px 0px 0px #1aad3f)
      drop-shadow(0px 0px 0px #d4ff00) drop-shadow(0px 0px 0px #68077e);
    opacity: 0.5;
  }
}
.loading_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.loadBody {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10em;
}

.logoSlot {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  animation: logoLoading 0.6s ease-in-out infinite alternate;
  background: rgb(40, 2, 145);
}

.loadTxt {
  margin-top: 130px;
  font-size: 30px;
  color: #fff;
  transform-origin: 2.5% 5%;

  animation: txtLoading 0.6s ease-in-out infinite alternate;
  font-weight: bold;
}
