.background {
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100vw);
    height: calc(100vh);
    background: linear-gradient(
        150deg,
        #d9dbe2 20%,
        #4c547094 20%,
        #b1bee8 80%,
        #20222932 20%
    );
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 2rem;
}

.contact_container {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #4a5162;
    height: 75vh;
    /* overflow: hidden; */
}

.contact_heading {
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
    font: 300 1.4rem 'Roboto';
    border-bottom: 1px dotted rgb(255, 255, 255);
}

.search {
    display: flex;
    text-align: center;
    justify-content: center;
    border-bottom: 1px dotted rgb(255, 255, 255);
}

.input {
    
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 19vmax;
    
    position: relative;
    
}

.search_btn {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    
    position: relative;
    
    background-color:rgb(146, 146, 193);
    color:white;
    z-index: 25;
}

.row{
    display:flex;
    flex:1;
    justify-content: center;
    flex-direction: row;

}
.all_contacts {
    overflow-x: hidden;
    overflow-y: auto;
    height: 60vh;
    color: #fff;
}

.all_contacts::-webkit-scrollbar {
    display: none;
}

.no_contacts {
    color: #fff;
    margin: 15px;
    font-size: 18px;
    background-color:rgb(43, 39, 39);
    text-align: center;
}